includes:
    - vendor/landingi/php-coding-standards/phpstan.neon

parameters:
    excludes_analyse:
        - src/Curl/Curl
        - vendor/phpstan/phpstan-symfony/stubs/Symfony/Component/Security/Acl/Model/MutableAclProviderInterface.stub
